<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login and Registration</h1>
    <p>_____________________________________________________________</p>


    <h3>Register</h3>

    <form action="/register" method="post">
        <label for="first">First name:</label>
        <input type="text" name="first">
        <label for="last">Last name:</label>
        <input type="text" name="last">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <label for="confirm">Confirm:</label>
        <input type="password" name="confirm">
        <label for="birthday">Birthday:</label>
        <input type="date" name="birthday">
        <input type="submit" name="submit">
    </form>

    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
         <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>

    <br>
    <h3>Log back in!</h3>
    <form action="/login">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" name="submit">
    </form>
</body>
</html>