<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Add a new animal</h3>
    <h5> <a href="/">Or go back to home page</a></h5>
    <form action="/add" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <label for="species">Species: </label>
        <input type="text" name="species">
        <label for="interests">Interests: </label>
        <input type="text" name="interests">
        <button id="add" name="button" value="add animal">Add my animal!</button>
    </form>
    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
         <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>

</body>
</html>